body {
    background-color: lightblue;
    font-family: "Poppins", sans-serif;
    margin: 20px;
}

/* INDEX PAGE */
.home-title {
    color: purple;
    text-align: center;
    border: 2px solid purple;
    padding: 15px;
}

.header {
    border: 2px solid purple;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.header h1 {
    text-align: center;
}

.header img {
    position: absolute;
    right: 15px;
    top: 15px;
}

.navbar {
    background-color: purple;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.main-table {
    width: 100%;
    border: 2px solid black;
}

.main-table td {
    padding: 15px;
}

h2 {
    color: purple;
}

h3 {
    color: darkblue;
}

img {
    margin: 5px;
}


/* ABOUT PAGE */

.about-table {
    width: 100%;
    border: 3px solid darkblue;
    background-color: white;
}

.about-table td {
    padding: 20px;
}

.popular {
    border-left: 2px solid purple;
    padding: 15px;
}

.about-title {
    color: darkblue;
    text-align: center;
    border: 3px solid darkblue;
    padding: 20px;
    margin: 10px;
}

.about-navbar {
    text-align: center;
    margin: 20px;
}

.about-navbar a {
    color: darkblue;
}

.thank-you {
    text-align: center;
    font-size: 18px;
    margin: 30px;
}